.app {
  width: 100%;
  height: 100vh;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#reader {
  width: 100%;
  // width: 300px;
  min-height: 550px;
  // height: 100vh;
  max-height: 1000px;
  z-index: 100;
}

#reader__scan_region {
  // min-height: 50vh;
  // max-height: 100vh;
  // max-height: 400px;
}

#reader__dashboard {
  max-height: 20vh;
}

.display-data {
  background-color: red;
}

.serviceData {
  width: 100%;
  min-height: fit-content;
  position: fixed;
  display: flex;
  bottom: 0;
  flex-direction: column;
  margin-top: -50vh;
  color: rgb(250, 10, 10);
  white-space: normal;
  word-break: break-word;
  overflow-wrap: break-word;
  z-index: 110;
  // display: none;
}

.heading_test {
  font-weight: 700;
  font-size: 1.1rem;
}

.bold {
  font-weight: 700;
}

.errorMessage,
.decodedResult,
.arrOfDecodedResults {
  margin: 1vh 0;
}
