.app {
  width: 100%;
  height: 100vh;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#reader {
  width: 100%;
  height: 100vh;
  max-height: 1000px;
}

#reader__scan_region {
  // min-height: 50vh;
  max-height: 100vh;
}

#reader__dashboard {
  max-height: 20vh;
}

.display-data {
  z-index: 1000;
  background-color: red;
}

.serviceData {
  margin-top: 350px;
  background-color: antiquewhite;
}

.heading_test {
  font-weight: 700;
  font-size: 1.1rem;
}

.bold {
  font-weight: 700;
}
